

body{
    color: white;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    justify-items: center;
    background: linear-gradient(to left,rgb(204, 28, 58),rgb(62, 12, 180), rgb(107, 27, 182));

}

.cuad{
    text-align: center;
    background-color: rgb(170, 42, 121);
    border-radius: 30px;
    margin: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;
    width: 500px;
    height:600px;
}
.textPrin{
    font-size: 60px;
    background: linear-gradient(to right, #c209c2, #a450f1,rgb(31, 202, 214));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p{
    margin: 10px;
    margin-top:80px;
    padding: 10px;
    border-radius: 20px;
    background: radial-gradient(rgb(0, 132, 255), rgb(255, 0, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tem{
    margin-top: 65px;
    font-size: 40px;
    background: linear-gradient(to right, #c209c2, #a450f1,rgb(31, 202, 214));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}